<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/base_style.css') }}">

	{% block styles %} {% endblock %}

	<meta charset="utf-8">
	{% if title %}	
	<title>SmartHome | {{title}}</title>
	{% else %}
	<title>SmartHome</title>
	{% endif %}
</head>
<body>
	<div class="header">
		<h1>SmartHome Dashboard</h1>
		<a href="{{ url_for('index') }}">Home</a>
		<a href="#">About</a>
	</div>

	<div id="like_button_container"></div>

	<script src="{{ url_for('static', filename = 'lib/react.development.js') }}"></script>
	<script src="{{ url_for('static', filename = 'lib/react-dom.development.js') }}"></script>

	<script src="{{url_for('static', filename = 'js/like_button.js') }}"></script>

	<hr>
	
	{% block content %}	{% endblock %}
	{% block scripts %} {% endblock %}
</body>
</html>
