{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/animations.css') }}">
{% endblock %}

{% block content %}
	{% block device_content %}
	{% endblock %}

	<p>Device page footer</p>
{% endblock %}

{% block scripts %} 
<script type="text/javascript" src="{{ url_for('static', filename = 'js/defines.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/device.js') }}"></script>

	{% block device_scripts %} {% endblock %}
{% endblock %}

