<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/base_style.css') }}">

	{% block styles %} {% endblock %}

	<meta charset="utf-8">
	{% if title %}	
	<title>SmartHome | {{title}}</title>
	{% else %}
	<title>SmartHome</title>
	{% endif %}

	<script src="{{ url_for('static', filename = 'lib/react.development.js') }}"></script>
	<script src="{{ url_for('static', filename = 'lib/react-dom.development.js') }}"></script>
</head>
<body>
	<div class="header">
		<h1>SmartHome Dashboard</h1>
		<a href="{{ url_for('index') }}">Home</a>
		<a href="#">About</a>
	</div>

	<hr>

	{% block content %}	{% endblock %}

	<hr>

	<p>Device page footer</p>

	{% block scripts %} {% endblock %}

	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
	
</body>
</html>
