{
	"api_keys": {
		"coingecko": string,
		"open_weather": string,
		"tiingo": string
	},
	"mailer_credentials": {
		"email": string,
		"app_password": string
	},
	"user_auth": {
		"secret_key": string,
		"jwt_secret_key": string
	}
}

