{
	"notifications_enabled": boolean,
	"motion_detection": {
		"notify_motion_detect": boolean,
		"notify_file_ready": boolean,
		"notify_include_attachment": boolean,
		"enabled": boolean,
		"motion_sensitivity": float,
		"max_recording_time": integer,
		"idle_return_delay": integer,
		"minimum_idle_interval": integer,
		"rotation": integer
	},
	"video_streaming": {
		"enabled": boolean,
		"record_stream": boolean
	}
}